[Unit]
Description=PZ Management Daemon

After=pz-ipcd.service postgresql.service pz-db-ready.service pz-engined.service
Requires=pz-ipcd.service
Wants=postgresql.service pz-db-ready.service pz-engined.service
PartOf=pretzel.target

[Service]
Type=simple
ExecStart=/opt/pretzel/bin/pz-mgmtd

Restart=always
RestartSec=3

LimitNOFILE=65536

StandardOutput=journal
StandardError=journal
SyslogIdentifier=pz-mgmtd

[Install]
WantedBy=pretzel.target
