[Unit]
Description=PZ Topology Daemon

After=pz-ipcd.service postgresql.service
Requires=pz-ipcd.service
Wants=postgresql.service
PartOf=pretzel.target

[Service]
Type=simple
RuntimeDirectory=pretzel
ExecStart=/opt/pretzel/bin/pz-topologyd

Restart=always
RestartSec=3

LimitNOFILE=65536

StandardOutput=journal
StandardError=journal
SyslogIdentifier=pz-topologyd

[Install]
WantedBy=pretzel.target
